<div class="col-md-12 col-sm-12  col-xs-12 fv">
    <div class="row">
        <div id="content" class="container">
             <div class="col-xs-12 col-sm-12 col-md-12 header home backhm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12  light hidden-xs">
                        <div class="row">
                            <div id="top_left">
                                <strong>Mobile: 8123602824</strong>
                            </div>
                            <div id="top_left">
                                <strong>Email : gsmart@gowdanar.com</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 header-inverse topfix fixed-top">
                        <div id="logo_left" class="col-xs-12 col-md-3">
                            <a href="#"> <img src="assets/images/icon.png" alt="gparking-logo" title="gparking" width="100px" height="100px" class="img-circle"></a>
                            <a onclick="myFunction()" class="dropbtn fa fa-align-justify float-right" style="font-size:24px;color: #f0f0f0;float: right;padding-top: 111px;"></a>
                        </div>
                        <div class="hidden-xs">
                            <div class="col-md-7 wrapper">
                                <ul class="nav navbar-nav navadj" onclick="myFunction()" style="list-style: none; text-align: center;  font-size: 20px;float: right;">
                                    <li class="active"><a routerLink="/home" style="color: white ; "><h4>Home</h4></a></li>
                                    <li><a routerLink="/aboutus" ng-hide="role == 'SECURITY'" style="color: white ;"><h4>About Us</h4></a></li>
                                    <li><a routerLink="/contactus" ng-hide="role == 'SECURITY'" style="color: white ;"><h4>Contact Us</h4></a></li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <a routerLink="/login" ng-show="log">
                                    <button type="button" class="btn btn-primary btn-md logi loginbutton" style=" width:132px; background-color: green; color:white; font-size:20px; margin-top: 4px;">
                                        <h4>Login</h4></button>
                                </a>
                                <a ng-hide="log" ng-click="logout()">
                                    <button type="button" class="btn btn-primary btn-md loginbutton" style=" float: right; background-color: green; color:white; font-size:20px; margin-top: 4px;">
                                        <h4>Logout</h4></button>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 visible-xs mobileview">
                            <div class="dropdown">
                                <div id="myDropdown" class="dropdown-content">
                                    <a ng-click="gotoHome()" style="color: black ; "><h4>Home</h4></a>
                                    <a routerLink="/aboutus" ng-hide="role=='SECURITY'" style="color: black;"><h4>About Us</h4></a>
                                    <a routerLink="/contactus" style="color: black ;">Contact Us</a>
                                    <a routerLink="/login" class="btn btn-success" ng-show="log" style="color: black; font-size: 17px;"><h4>Login</h4></a>
                                    <a class="btn btn-success" ng-click="logout()" ng-hide="log" style="color: black; font-size: 17px;"><h4>Logout</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
</div>



<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        
   <div class="contactclass">
    <h2>Contact Us</h2>
    <div class="row">
        <div class="col-md-3">
            <h5 style="font-weight: bold;">Gowdanar Technologies Pvt Limited</h5>
            <p>
                28/1, 15th Main, 1st Cross,
                <br> E-Block, Next to SBH Bank,
                <br> Sahakar Nagar,
                <br> Bangalore - 560092
                <br>
            </p>
            <br>
            
                <h5 style="font-weight: bold">Phone No:</h5>
                <p>081236 02824</p>
                
            
        </div>
        <div class="col-md-3">
            <h5 style="font-weight: bold;">Website</h5>
            <p>
                www.gparking.in
            </p>
            <br>
            <!-- <br> -->
            <h5 style="font-weight:bold;">For Any Information <br>Email ID:</h5>
            <p>
                info@gowdanar.com
            </p>
            <br>
            <!-- <br> -->
            <h5 style="font-weight:bold;">For Sales Related Queries:</h5>
            <p>
                gsmart@gowdanar.com
            </p>
        </div>
        <div class="col-md-6">
            <h2>Feedback</h2>
            <form>
                Name
                <input type="text" class="form-control" name="">
                <br> Mobile No
                <input type="text" class="form-control" name="">
                <br> Email ID
                <input type="text" class="form-control" name="">
                <br> Message
                <input style="height:100px;" type="textarea" class="form-control" name="">
                <br>
                <!-- <center> -->
                    <button class="buttonsubmit" style="text-align: center;" type="submit">SUBMIT COMMENT</button>
                <!-- </center> -->
            </form>
        </div>
    </div>
</div>
 </div>
</div>
<footer>
    <div class="gparkingfooter hidden-xs">
                <div class="col-sm-12 col-md-12 rtmfooter" style="background-color: #07131c;margin-top: 10px;" id="rtmfooterid">
                    <div class=" col-sm-12  col-md-12" style="margin-top: 20px;">
                        <div class=" col-sm-2 col-md-2">
                            <div class="organisations2">
                                <a routerLink="/home"><img src="assets/images/icon.png" alt="gparking" title="gparking" class="img-circle"></a>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="footercontactus">
                                <h3>CONTACT US</h3>
                                <ul>
                                    <li><a routerLink="/aboutus">About Us</a></li>
                                    <li><a routerLink="/contactus">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="footercontactus">
                                <h3>PRODUCTS</h3>
                                <ul class="footer-nav footer-nav-responsive">
                                    <li><a href="http://www.gsmart-india.com/">Gsmart</a></li>
                                    <li><a href="http://www.gowdanarfunds.com/">GFUNDS</a></li>
                                    <li><a href="http://realtimemoney.in/">RealTimeMoney</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="footerhelp">
                                <h3>LEGAL</h3>
                                <ul>
                                    <li><a routerLink="/termscondition">Terms of Use</a></li>
                                    <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="socialnetworks">
                                <h3>FOLLOW US</h3>
                                <ul>
                                    <li>
                                        <a href="" target="_blank">
                                            <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 22.2 18" width="22px" height="18px" class="svg-twitter">
                                                <path d="M22.2 2.1c-.8.4-1.7.6-2.6.7.9-.6 1.7-1.4 2-2.5-.9.5-1.9.9-2.9 1.1-.8-.9-2-1.4-3.3-1.4-2.5 0-4.5 2-4.5 4.5 0 .4.1.7.1 1-3.8-.2-7.1-2-9.3-4.8-.5.8-.7 1.6-.7 2.4 0 1.6.9 3 2.1 3.8-.7 0-1.8-.2-1.8-.6v.1c0 2.2 1.3 4 3.4 4.5-.4.1-1 .2-1.4.2-.3 0-.6 0-.9-.1.6 1.8 2.3 3.1 4.2 3.2C5.2 15.3 3.2 16 1.1 16H0c2 1.3 4.4 2 7 2 8.4 0 12.9-6.9 12.9-12.9v-.6c.9-.7 1.6-1.5 2.3-2.4z"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank">
                                            <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 9.3 18" width="9px" height="18px" class="svg-facebook">
                                                <path d="M7.6 3h1.7V.1C9.1.1 8 0 6.9 0 4.4 0 2.8 1.5 2.8 4.2v2.4H0v3.2h2.8V18h3.3V9.8h2.7l.4-3.2H6.1v-2c0-1 .2-1.6 1.5-1.6z"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href=" https://www.linkedin.com/company-beta/13282345" target="_blank">
                                            <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 18.8 18" width="19px" height="18px" class="svg-linkedin">
                                                <path d="M14.2 5.6c-2.2 0-3.1 1.2-3.6 2V5.8h-4V18h4v-6.8c0-.4 0-.7.1-1 .3-.7 1-1.5 2.1-1.5 1.5 0 2 1.1 2 2.7V18h4v-7c0-3.7-2-5.4-4.6-5.4zm-14 .2h4V18h-4zM2.3 0C.9 0 0 .9 0 2.1c0 1.2.9 2.1 2.2 2.1 1.4 0 2.3-.9 2.3-2.1C4.5.9 3.7 0 2.3 0z"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCU48dX7jkVbata-RYhg1sxw" target="_blank">
                                            <svg fill="#ffff" height="18px" viewBox="0 0 24 24" width="19px" xmlns="https://www.w3.org/2000/svg">
                                                <path d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 text-center playstore1">
                            <h3>FIND US</h3>
                            <div class="playstore">
                                <a href="https://play.google.com/store/apps/details?id=co.rtm&hl=en" target="_blank"><img src="assets/images/playstore.png" alt="gparking" width="137px" height="66px"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 disclimer">
                        <p class="para text-justify">DISCLAIMER</p>
                        <p>The information contained herein is only to enable the Contractor to make a considered decision. This information does not include any sensitive personal data or information of the Contractor. GParking only facilitates a communication between the Contractors and the Security on its online platform. GParking is only an ‘Intermediary’ under the provisions of the Information Technology Act, 1999.</p>
                        <p style="font-size: 13px;text-align: center;"> copyright &#169; GParking 2017 - all rights reserved</p>
                    </div>
                </div>
            </div>
        </footer> 

<style type="text/css">
.contactclass {
       margin-top: 17vh;
    padding: 23px;
    font-size: small;
    width: 1500px;
}

.buttonsubmit {
    width: 180px;
    padding: 12px;
    background-color: green;
    color: white;
    font-weight: bold;
}
</style>
